@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Duployan:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-family-sans: "Poppins", sans-serif;
  --color-beige: #ddb899;
  --color-brown-medium: #7b5232;
  --color-brown-dark: #422d20;
  --color-red: #8e1f1b;
  --color-brown-pink: #8c5b4e;
  --color-background: #f8f4ef;
  --color-background-alt: #f0e6dd;
  --color-white: #fff;
}

body {
  font-family: var(--font-family-sans);
  font-weight: 400;
  margin: 0;
}

section {
  padding: 54px 5%;
}

.outset-border {
  border-style: outset;
}

/* Mostrar menú */
.showMenuNav {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #a9745c; 
  z-index: 50; 
  padding-top: 80px;
}

/* Ocultar menú */
.hideMenuNav {
  display: none;
}
